<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/all-livescores">
        <input type="submit" value="Show all livescores">
    </form>

    <br>
    <form method="POST" action="/livescoresCountry">
        Country Id: <input type="text" name="cid"> 
        <input type="submit" value="Livescores of a Country">
    </form>
    <br>

    <form action="/fixtures-tomorrow">
        <input type="submit" value="Fixtures for tomorrow">
    </form>
    <br>



</body>
</html>