<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />   
    <style>
            table, th, td {
                border: 1px solid black;
            }
            </style>
</head>
<body>
    <h1>Livescores of a Country</h1>
    <table id='table'>
            <thead id='th'>
            <tr>
                <th>Id</th>
                <th>Home Name</th>
                <th>Away Name</th>
                <th>Score</th>
                <th>HT Score</th>
                <th>FT Score</th>
                <th>ET Score</th>
                <th>Time</th>
                <th>League Id</th>
                <th>Status</th>
                <th>Added</th>
                <th>Last Changed</th>
                <th>Home Id</th>
                <th>Away Id</th>
                <th>Events</th>
                <th>League Name</th>
            </tr>
            </thead>
            <tbody id="tb">
                {%for dict in data%}
                <tr>
                    <td>{{dict['id']}}</td>
                    <td>{{dict['home_name']}}</td>
                    <td>{{dict['away_name']}}</td>
                    <td>{{dict['score']}}</td>
                    <td>{{dict['ht_score']}}</td>
                    <td>{{dict['ft_score']}}</td>
                    <td>{{dict['et_score']}}</td>
                    <td>{{dict['time']}}</td>
                    <td>{{dict['league_id']}}</td>
                    <td>{{dict['status']}}</td>
                    <td>{{dict['added']}}</td>
                    <td>{{dict['last_changed']}}</td>
                    <td>{{dict['home_id']}}</td>
                    <td>{{dict['away_id']}}</td>
                    <td>{{dict['events']}}</td>
                    <td>{{dict['league_name']}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    
   

</body>
</html>